@model IEnumerable<btl.Models.ProductCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Area/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý danh sách loại sản phẩm</h2>

<p>
    @Html.ActionLink(" Tạo mới", "Create", null, new { @class = "btn btn-warning fa fa-plus" })
</p>

<table class="table table-bordered table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.Raw(@item.Description)
                </td>
                <td>
                    <img src="/Uploadimg/@item.Image" style="width:100px;height:100px" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @Class = "btn btn-warning fa fa-pencil" })
                    @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @Class = "btn btn-primary fa fa-eye" })
                    @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @Onclick = "return confirm('Bạn có chắc muốn xóa không?')", @Class = "btn btn-danger fa fa-trash" })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>

    </script>
}
